// USER VARIABLES SECTION

$background: #FFFFFF;
$primary: #3A4574;
$secondary: #D3B47F;
$main-text: #000;
$secondary-text: #2E2E2E;
$main-text-light: #FFFFFF;
$secondary-text-light: #808080;
$underline: #E7E7E7;
$border: #CCCCCC;

$maxWidth: 1170 + 30 * 2;