.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), url(../img/top-block-bg.jpg) center no-repeat;
    background-size: cover;
    height: 901px;
    padding-top: 55px;

    // .header__wrap
    &__wrap {
    }
    // .header__top
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 154px;
    }
    // .header__logo
    &__logo {
    }
    // .header__menu
    &__menu {
        display: flex;
        gap: 45px;

        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $main-text-light;
            text-decoration: none;
            transition: .5s ease;

            &:hover {
                color: $secondary;
            }
        }
    }
    // .header__actions
    &__actions {
    }
    // .header__phone
    &__phone {
        font-size: 16px;
        line-height: 24px;
        color: $main-text-light;
        margin-left: 23px;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 11px;
        transition: .5s ease;

        &:hover {
            color: $secondary;
        }

        &::before {
            content: '';
            height: 24px;
            width: 24px;
            min-width: 24px;
            background: url(../img/icons/phone_24x24.svg) center no-repeat;
        }
    }
    // .header__burger
    &__burger {
        display: none;
    }
    // .header__toptext
    &__toptext {
        color: $main-text-light;
    }
    // .header__schedule
    &__schedule {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.06em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        margin-bottom: 24px;
    }
    // .header__tagline
    &__tagline {
        font-weight: 700;
        font-size: 64px;
        line-height: 88px;
        margin-bottom: 40px;
    }
    // .header__row
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // .header__reserve
    &__reserve {
    }
    // .header__social
    &__social {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    
    @media (max-width: 1023px) {
        &__phone {
            margin-left: 0;

            span {
                display: none;
            }
        }
    }

    @media (max-width: 960px) {
        padding-top: 20px;
        height: 650px;

        &__top {
            margin-bottom: 60px;
            gap: 30px;
        }

        &__logo {
            position: relative;
            z-index: 1;
            flex: 1 1 auto;
            padding-bottom: 5px;
        }

        &__menu {
            position: absolute;
            left: 0;
            top: -20px;
            background: $primary;
            flex-direction: column;
            padding-top: 120px !important;
            padding-bottom: 60px !important;
            align-items: center;
            width: 100%;
            transition: .5s ease;
            transform: translate(0, -100%);
            opacity: 0;
        }

        &__phone {
            position: relative;
            z-index: 1;
        }

        &__burger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            z-index: 1;

            height: 40px;
            width: 44px;
            padding: 10px;
            margin: -10px;

            span, &::before, &::after {
                content: '';
                height: 2px;
                width: 100%;
                background: $main-text-light;
                transition: .5s ease;
                opacity: 1;
            }
        }

        // .header__schedule
        &__schedule {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        // .header__tagline
        &__tagline {
            font-size: 40px;
            line-height: 60px;
            margin-bottom: 40px;
        }
        // .header__row
        &__row {
            flex-direction: column;
            gap: 30px;
        }

        &.open {
            .header {
                &__burger {

                    span {
                        opacity: 0;
                    }

                    &::before {
                        transform: rotate(45deg) translate(5px, 8px);
                    }

                    &::after {
                        transform: rotate(-45deg) translate(5px, -8px);
                    }
                }

                &__menu {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }
        }
    }
}