.social {
    & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        border: 1px solid $main-text-light;
        border-radius: 50%;
        color: $main-text-light;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        text-decoration: none;
        transition: .5s ease;
        padding-top: 1px;

        &:hover {
            color: $secondary;
            border: 1px solid $secondary;
        }
    }
}